.bodycontent-paragraph{
    flex-direction: row;
    scroll-behavior: smooth;
    padding-left: 20px;
    margin: 0.2%;
}
.bodycontent-container{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

.headings{
    background-color: #825500;
    padding: 20px;
    margin: 20px;
    text-align: center  ;
}
.lists{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    padding-left: 12px;
    font-size: 28px;
}
.page-heading{
    align-items: center;
    font-size: 18px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.back_button {
    padding: 15px 30px;
    font-size: 18px;
    border: 2px solid #f4f4f4;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}