
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
}

.header img {
    border-radius: 50%;
}

.search-bar {
    width: 10%;
}

.main-create-post {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 67%;

}

.main-content {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
    align-items: top;
}

.announcement-section,
.post-section {
    width: 300px;
    margin-left: 20px;
}

.announcement-section {
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.create-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.create-post textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.create-post button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.announcement-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.threads-section {
    margin-top: 20px;
    flex: 1; /* Let it take up remaining space */
}

.thread {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.main-post-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}
.taskbar {
    display: flex;
    align-items: right;
    padding: 5px;
    border: 1px solid #86bafe;
    border-radius: 8px;
    width: auto;
    padding: 5px;
}

.taskbar-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer; 
}

.taskbar-item:last-child {
    margin-right: 0;
}

.taskbar-item span {
    margin-left: 5px;
}

.taskbar-item svg {
    width: 20px;
    height: 20px;
}

.more-options {
    font-size: 20px;
    cursor: pointer;
}

.view-toggle {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.view-toggle svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}